.cmp-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: center;
    background-color: yellow;
    cursor: pointer;
    text-align: center;
    border: none;
}

.cmp-btn-icon .btn-icon {
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer; */
}
